
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  
}


p {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.r-btn {
  padding: 5px 20px;
  background-color: purple !important;
  color: white !important;
}

.r-p {
  padding-top: 125px;
  padding-bottom: 125px;
}

.content-mg {
  margin: 10px 0;
}
.content-box * + * {
  margin: 20px 0;
}
.bg-sec {
  background: #f8f9fa;
}
.title-box {
  max-width: 600px;
  text-align: center;
}

/* navbar */

nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  transition: 0.5s all;
}
nav .navbar-nav li {
  margin-left: 20px;
}
nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
nav.r-nav {
  background: black;
  padding: 20px 0px;
  transition: 0.5s all;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}
nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}
.navbar .hamburger {
  color: #fff;
}
nav.stickyadd .hamburger {
  color: #000;
}

nav *,
header * {
  animation-delay: 0.5s;
}

.section-separator {
  height: 10px;
  background-color: black;
  width: 100%;
}

/* header */

header {
  height: 100vh;
  width: 100%;
  padding-top: 75px;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}
.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-box p {
  color: #fff;
}
.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s all;
}




/* Projects */

.card,
.card-header {
  background:whitesmoke!important;
}

.card-header {
  border: none !important;
}

.services .card-header i {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  transition: 0.5s all;
}
.services h5:hover + .service-border {
  width: 100px;
}

.services p {
  font-size: 16px;
}

.services .btn:hover {
  color: #000 !important;
  background: #eee !important;
}


/* Work */
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* Contact */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
  color: #00aeff;
}

/* footer */
footer {
  height: 150px;
  background-color: black;
}
footer .r-icon a {
  font-size: 20px;
  color: #00aeff;
  padding: 10px;
  border: 1px solid #00aeff;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}
/* Media-------------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 767px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 30px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: -700px 0;
  }
}

/* 
Cards flipping boxes and animaiton */
.img-fluid {
  max-width: 100%; 
  max-height: 400px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  border:  10px solid black; 
  border-radius: 30%;
}

.card-wrapper {
  perspective: 1000px;
  margin-bottom: 30px; 
}

.card-flip {
  position: relative;
  width: 100%;
  height: 350px; 
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-flip:hover {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30%;
}

.card-back {
  transform: rotateY(180deg);
}

.card-flip.flipped {
  transform: rotateY(180deg);
}

.img-fluid {
  max-width: 100%;
  height: auto; 
  display: block;
  margin: 0 auto;
  border: 10px solid black;
  border-radius: 50%;
}

  .project-card {
    transition: transform 1s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition-delay: 0.15s;
  }
  
  .card-header {
    font-size: 2rem;
    
  }
  
  .service-border {
    margin: 1rem 0;
    height: 2px;
    background-color: blueviolet; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
/* skills image  */

#work {
  background-image:  url("../images/6107094.jpg");
  min-height: 100vh; 
  width: 100%;
  background-size: cover;
  background-attachment: fixed; 
}


@media (max-width: 768px) {
  #work {
    background-image: url("../images/vertical\ image.jpeg"); 
    background-attachment: scroll; 
  }
}


  /* Projects Section */
  .bg-sec {
    background-image: 
    url("../images/Reversed\ Timeline\ Image.png"); 
    background-size: cover; 
  }
 
   /* Contact Section */
   .bg-sec2 {
    background-color: white; 
    background-size: cover; 
  }
 
  
  .card-text {
    color: #000000; 
  }
  

/* About Section Cards */
  .custom-card-color {
    background-color: whitesmoke;
  }
  

/* TimeLine Code Source: */

 :root{
    --color1: #4e237c;
    --color2: #6a2e88;
} 


.timeline-section {
  background-image:  
  url("../images/Reversed\ Timeline\ Image.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;

}




.main-timeline {
  font-family: 'Poppins', sans-serif;

}

.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    border-right: 10px solid var(--color1);
    width: 50%;
    padding: 10px 20px 10px 0;
    box-shadow: 10px 0 var(--color2);
    float: left;
}
.main-timeline .timeline-content{
    text-align: center;
    display: block;
    position: relative;
    border-radius: 10px 10px;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content:"";
    background: var(--color2);
    width: 80px;
    height: 3px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -120px;
}
.main-timeline .timeline-content:after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -125px;
}
.main-timeline .timeline-year{
    color: white;
    background:var(--color2);
    font-size: 40px;
    font-weight: bold;
    padding: 3px 20px 2px;
    border-radius: 100px;
    border: 5px solid var(--color1);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -300px;
}
.main-timeline .title{
    color:#fff;
    background: var(--color2);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 10px 9px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    font-family: poppins;
}
.main-timeline .description{
    color: black;
    background:whitesmoke;;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right; 
    border: none;
    border-left: 10px solid var(--color2);
    box-shadow: -10px 0 var(--color1);
    padding: 10px 0 10px 20px;
    margin: 0 0 0 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto; 
    left: -120px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: auto;
    left: -125px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -300px;
}
.main-timeline .timeline:nth-child(2){
    --color1: #14187e;
    --color2: #3f43c4;
}
.main-timeline .timeline:nth-child(3){
  --color1: #4e237c;
  --color2: #6a2e88;
}

.main-timeline .timeline:nth-child(4){
  --color1: #14187e;
  --color2: #3f43c4;
}

/* 
Phone timeline display */

@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 100px 0 20px 20px;
        margin: 0 0 0 10px;
        box-shadow: -10px 0 var(--color2);
        border: none;
        border-left: 10px solid var(--color1);
        float: none;
      
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:after{
        top: -50px;
        left: -20px;
        width: 50px;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after{
        width: 15px;
        right: auto;
        left: 15px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateX(-50%);
        top: -110px;
        left: 50%;
        right: auto;
    }
}

#toggle-tts {
  cursor: pointer;
}

#toggle-tts i {
  color: none; 
}

#toggle-tts:hover i {
  color: #555; 
}

.description {
  text-align: left;
  list-style-position: inside;
}

