@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

nav,.n-links { 
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh ;
    background-color: black;
}

.n-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}


.S1 {
    background-image: url(images/white.avif);
    height: 500px;
    width: 100%;
    background-size: cover;
    padding: 10px;

}

h1,h2 {
    text-align: center;
    font-size: 3rem;    
   
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 400px;
   
}

.Unis {
    height: 300px;
    width: 300px;
    float: right;
    margin-right: 150px;
    
}

#div1 {
    background-color: black;
    width: 33.3%;
   
}

#div2 {
    background-image: url(images/white.avif);
    width: 33.3%;
    float: left;
}S

#div3 {

    width: 33.3%;
    margin: 0 auto;
}

